@import '../../styles/colors.scss', '../../styles/variables.scss';

.dashboard {
  width: 100vw;
  height: 100%;
  margin: auto;
  position: relative;
  overflow-x: hidden;
  background-color: $grey;

  $sidebarWidth: 17%;
  $dashboardWidth: 58%;
  $remainderWidth: calc(100% - ($sidebarWidth + $dashboardWidth));

  .sidebar {
    height: 100%;
    width: $sidebarWidth;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
    position: fixed;
    top: 0;

    .logout {
      position: absolute;
      bottom: 40px;
      width: 100%;
    }

    .profile--progress {
      padding: 0 60px;
      text-decoration: none;
    }

    @media screen and (max-width: $sm) {
      z-index: 10;
      position: fixed;
      width: 100%;
      bottom: 0;
      top: unset;
      padding: 0 20px;
      height: 80px;
      flex-direction: row;
      border-top-left-radius: 35px;
      border-top-right-radius: 35px;
      box-shadow: 0px -4px 48px 0px #010a8f4d;
      justify-content: space-between;

      span {
        font-size: 12px;
      }
    }

    &--link {
      text-decoration: none;
      position: relative;
      margin-top: 20px;
      display: flex;
      height: 50px;
      align-items: center;
      padding-left: 20%;
      // justify-content: center;
      opacity: 0.5;

      &--active,
      &:hover,
      &:active {
        opacity: 1;
        &::after {
          position: absolute;
          content: '';
          height: 100%;
          width: 5px;
          border-top-right-radius: 1000px;
          border-bottom-right-radius: 1000px;
          background-color: white;
          left: 0;
        }
      }

      .icon {
        margin: 0 10px;
        @media screen and (max-width: $sm) {
          margin: 10px 0;
        }
      }

      @media screen and (max-width: $sm) {
        height: 100%;
        padding-left: unset;
        padding-bottom: 10px;
        margin: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: unset;

        &--active,
        &:hover,
        &:active {
          opacity: 1;
          &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 5px;
            border-radius: unset;
            border-top-left-radius: 1000px;
            border-top-right-radius: 1000px;
            background-color: white;
            bottom: 0;
          }
        }
      }
    }
  }

  &--main {
    position: relative;
    min-height: 100vh;
    // height: 100%;
    width: $dashboardWidth;
    background-color: #fff;
    border-radius: 40px;
    padding: 40px 2%;
    padding-top: 60px;
    left: $sidebarWidth;
    z-index: 2;

    &::after {
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      top: 0;
      z-index: -1;
      left: 0;
      border-radius: 40px;
      background-color: white;
    }

    &::before {
      position: absolute;
      content: '';
      height: 100%;
      width: 20%;
      top: 0;
      z-index: -2;
      left: 0;
      background-color: $primary;
    }

    .floatingAction--button {
      position: fixed;
      bottom: 25px;
      border-radius: 50%;
      height: 80px;
      width: 80px;
      margin: 20px;
      z-index: 100;
      right: 15px;
      // left: 64.5%;

      @media screen and (max-width: $sm) {
        bottom: 100px;
        right: 0;
        left: unset;
      }
    }

    @media screen and (max-width: $sm) {
      width: 100%;
      border-radius: unset;
      left: unset;
      padding: 20px 2%;
      padding-bottom: 100px;

      &::after {
        border-radius: unset;
      }
    }
  }

  textarea {
    padding: 15px 0;
  }

  input[type='file' i] {
    // all: unset;
    width: 80%;
    // opacity: 0;
  }

  .fileUpload {
    position: relative;
    width: 100%;

    .label {
      position: absolute;

      @media screen and (max-width: $sm) {
        top: 100%;
        right: unset;
        transform: unset;
      }
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      z-index: 0;
    }
  }

  .button {
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: bolder;
    padding: 10px 28px;
    font-family: 'Open Sans', sans-serif;
    background-color: #747be5;
    color: #fff;

    transition: all 300ms ease-in-out;
    margin-right: 5px;
    width: fit-content;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.13);
    &:hover {
      box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.23);
    }
  }
}
// .error--container {
//   width: 50px;
// }
